<style type="text/css">
	
	.nav-container {
		height: 70px;
		width: 1170px;
		margin: 0 auto 0 auto;
		opacity: 1;
	}

    .nav-container-fade {
        transition: all 1s cubic-bezier(.6,.17,.64,.99) 1s;
        -webkit-transition: all 1s cubic-bezier(.6,.17,.64,.99) 1s;
        -moz-transition: all 1s cubic-bezier(.6,.17,.64,.99) 1s;
        -ms-transition: all 1s cubic-bezier(.6,.17,.64,.99) 1s;
    }

    .nav-container-fade.ng-hide {
        opacity: 0;
        margin: -10px auto 0 auto;
    }

	.nav-logo {
		width: 100px;
		height: auto;
		margin-top: 20px;
	}

	.nav-links-container {
	    display: inline-block;
	    height: 100%;
	    padding-top: 20px;
	    float: right;
	}

	.nav-link {
		font-family: ProximaNovaCn, "Helvetica Neue", Helvetica, sans-serif;
		margin: 0 25px 0 25px;
		font-size: 20px;
		color: #757575;
		font-weight: 500;
		padding-bottom: 7px;
	    border-bottom: #fff solid 3px;
	}

	.nav-link:hover {
		color: #000;
	}

	.nav-link-active {
		color: #36f2b8 !important;
		padding-bottom: 0px;
	    border-bottom: #36f2b8 solid 3px;
		cursor: default;
	}

	.nav-link-fade {
        transition: all .25s cubic-bezier(.6,.17,.64,.99) 0s;
        -webkit-transition: all .25s cubic-bezier(.6,.17,.64,.99) 0s;
        -moz-transition: all .25s cubic-bezier(.6,.17,.64,.99) 0s;
        -ms-transition: all .25s cubic-bezier(.6,.17,.64,.99) 0s;
	}


</style>

<div ng-show="portfolioCtrl.getAppState() != 'loading'" class="nav-container nav-container-fade">
	<img class="nav-logo" src="./pages/images/cva_logo.png"/>
	<div class="nav-links-container">
		<span class="nav-link nav-link-fade" ng-click="portfolioCtrl.setAppState('work')" ng-class="{'nav-link-active': portfolioCtrl.getAppState() == 'work', 'clickable': portfolioCtrl.getAppState() != 'work'}">Work</span>
		<span class="nav-link nav-link-fade" ng-click="portfolioCtrl.setAppState('about')" ng-class="{'nav-link-active': portfolioCtrl.getAppState() == 'about', 'clickable': portfolioCtrl.getAppState() != 'about'}">About</span>
		<!--, 'nav-link-fade': portfolioCtrl.getAppState() != 'work'-->
	</div>
</div>