<style type="text/css">
	
	.nav-container {
		height: 70px;
		width: 1170px;
		margin: 0 auto 0 auto;
	}

	.nav-logo {
		width: 100px;
		height: auto;
		margin-top: 20px;
	}

	.nav-links-container {
	    display: inline-block;
	    height: 100%;
	    padding-top: 20px;
	    float: right;
	}

	.nav-link {
		font-family: "aktiv-grotesk", Helvetica, Arial, sans-serif;
		margin: 0 25px 0 25px;
		font-size: 20px;
		color: #666;
	}

	.nav-link:hover {
		color: #000;
	}

	.nav-link-fade {
        transition: all .25s cubic-bezier(.6,.17,.64,.99) 0s;
        -webkit-transition: all .25s cubic-bezier(.6,.17,.64,.99) 0s;
        -moz-transition: all .25s cubic-bezier(.6,.17,.64,.99) 0s;
        -ms-transition: all .25s cubic-bezier(.6,.17,.64,.99) 0s;
	}

</style>

<div class="nav-container">
	<img class="nav-logo" src="./pages/images/cva_logo.png"/>
	<div class="nav-links-container">
		<span class="nav-link" ng-click="portfolioCtrl.setAppState('work')">Work</span>
		<span class="nav-link" ng-click="portfolioCtrl.setAppState('about')">Home</span>
	</div>
</div>